language: ruby

rvm:
  - 2.6.3
  - 2.5.5
  - 2.4.6
  - 2.3.8
  - 2.2.10
  - 2.1.10
  - 2.0.0

before_install:
  - 'gem update --system --conservative || (gem i "rubygems-update:~>2.7" --no-document && update_rubygems)'
  - 'gem update bundler --conservative'

sudo: false

bundler_args: --without=guard

notifications:
  disabled: true

script:
  - bundle exec rake
