name: CI
on:
  push:
    branches: [main]
  pull_request:
jobs:
  test:
    name: Test on Ruby ${{ matrix.ruby }} and Rails ${{ matrix.rails }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', '3.1', '3.2', '3.3']
        rails: ['6.1.0', '7.0.0', '7.1.0']
    env:
      RAILS_VERSION: ${{ matrix.rails }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - name: Run Rake
        run: bundle exec rake
