name: Publish Gem
on:
  release:
    types: [published]
  push:
    tags:
      - "v**"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # mandatory for trusted publishing
      contents: write # required for `rake release` to push the release tag
    steps:
      - uses: actions/checkout@v4
      - name: Inspect ref
        run: |
          echo "Tag name from GITHUB_REF_NAME: $GITHUB_REF_NAME"
          echo "Tag name from github.ref_name: ${{ github.ref_name }}"

      # - name: Set up Ruby
      #   uses: ruby/setup-ruby@v1
      #   with:
      #     bundler-cache: true
      #     ruby-version: ruby
      # - uses: rubygems/release-gem@v1
